<div class="form-group-create w-100 m-auto mt-2">
    <h3 class="ml-5 my-4"><使用方法></h3>
  <div class="slider">
    <%= image_tag 'PDF保存.png', class: "item-group-icon" %>
    <%= image_tag 'グループ作成画像.png', class: "item-group-icon" %>
    <%= image_tag 'グループ招待.png', class: "item-group-icon" %>
    <%= image_tag '在庫不足アラート.png', class: "item-group-icon" %>
  </div>
</div>
