html,
body {
  height: 100%;
  font-family: 'Dela Gothic One', cursive;
  font-family: 'Chokokutai', cursive;
  font-family: 'Reggae One', cursive;
  font-family: 'Rampart One', cursive;
  font-family: 'Yuji Syuku', serif;
  font-family: 'Kosugi Maru', sans-serif !important;
  font-family: 'Shippori Antique B1', sans-serif;
  font-family: 'Mochiy Pop P One', sans-serif;
}

.form-login {
  max-width: 330px;
  padding: 1rem;
}

.form-login .form-floating:focus-within {
  z-index: 2;
}

.form-login input[type="email_field"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-login input[type="password_field"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.bg-purple {
  background-color: #B384FF;
}

.hermit-purple-icon {
  width: 72px; 
  height: 57pxs;
}

.hermit-purple-header-icon {
  width: 100px; 
  height: 57pxs;
}

.btn {
  --bs-btn-padding-x: 0.55rem !important;
}

.btn-purple {
  color: #fff !important;
  background-color: #B384FF !important;
  border-color: #ccc !important;
}

.btn-purple:focus {
  color: #fff !important;
  background-color: #B384FF !important;
  border-color: #8c8c8c !important;
}
.btn-purple:hover {
  color: #fff !important;
  background-color: #B384FF !important;
  border-color: #adadad !important;
}
.btn-purple:active {
  color: #fff !important;
  background-color: #B384FF !important;
  border-color: #adadad !important;
}

.form-group-create {
  max-width: 330px;
  padding: 1rem;
}

.form-group-create {
  z-index: 2;
}

.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: lighter;
}

.img-upload {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2vh 0;
}

.click-upload {
  margin: 15px 0;
  min-width: 250px;
}

.click-upload>p {
  margin-bottom: 15px;
}

.group-icon {
  width: 48px;
  height: 48px;
}

.group-show-icon {
  width: 200px;
  height: 200px;
}

.item-group-icon {
  width: 400px;
  height: 250px;
}

.btn-outline-purple {
  --bs-btn-color: #B384FF !important;
  --bs-btn-border-color: #B384FF !important;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #B384FF !important;
  --bs-btn-hover-border-color: #B384FF !important;
  --bs-btn-focus-shadow-rgb: 25, 135, 84;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #B384FF !important;
  --bs-btn-active-border-color: #B384FF !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #B384FF !important;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #B384FF !important;
  --bs-gradient: none;
}

.optional {
  background: #333333;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: lighter;
}

.quantity-form-control {
  display: block;
  width: 25%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.quantity-form-control-show {
  width: 15%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.item-index-icon {
  width: 100%;
  height: 225px;
}

.item-show-icon {
  width: 80%;
  height: 300px;
  border-radius: 21px 21px 0 0;
}

.item-storage-icon {
  width: 80%;
  height: 300px;
  border-radius: 21px 21px 0 0;
}

.text-bg-purple {
  color: #fff !important;
  background-color: RGBA(179, 132, 255, var(--bs-bg-opacity, 1)) !important;
}

.futidori {
  color: #87cefa;
  -webkit-text-stroke: 2px #000000;
}

.box1 {
  position: relative;
}

.circle {
  position: absolute;
  bottom: 1px;
  right: 1px;
  color: darkorange;
}

.box2 {
  position: relative;
}

.taking-out {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  background-color: #FFFF00;
  transform: skewY(-10deg);
}

.form-control {
  font-size: 0.9em !important;
}

header {
  position: sticky;
  top: 0;
  z-index: 999;
}


.h-20 {
  height: 8% !important;
}

.mb-6 {
  margin-bottom: 4rem !important;
}

.slider img {
  width: 100%;
  height: 50%;
  
}
