html,
body {
  height: 100%;
}

.form-login {
  max-width: 330px;
  padding: 1rem;
}

.form-login .form-floating:focus-within {
  z-index: 2;
}

.form-login input[type="email_field"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-login input[type="password_field"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.bg-purple {
  background-color: #B384FF;
}

.hermit-purple-icon {
  width: 10vw;
  margin-right: 10vw;
}