html,
body {
  height: 100%;
}

.form-login {
  max-width: 330px;
  padding: 1rem;
}

.form-login .form-floating:focus-within {
  z-index: 2;
}

.form-login input[type="email_field"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-login input[type="password_field"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.bg-purple {
  background-color: #B384FF;
}

.hermit-purple-icon {
  width: 72px; 
  height: 57pxs;
}

.hermit-purple-header-icon {
  width: 100px; 
  height: 57pxs;
}

.btn-purple {
  color: #fff !important;
  background-color: #B384FF !important;
  border-color: #ccc !important;
}

.btn-purple:focus {
  color: #fff !important;
  background-color: #B384FF !important;
  border-color: #8c8c8c !important;
}
.btn-purple:hover {
  color: #fff !important;
  background-color: #B384FF !important;
  border-color: #adadad !important;
}
.btn-purple:active {
  color: #fff !important;
  background-color: #B384FF !important;
  border-color: #adadad !important;
}
